* {
    box-sizing: border-box;
    font-family:'Helvetica';
    color: seashell;
    background-color: black;
    opacity: .9;
    margin: 0;
    padding: 0;
}
img#logo{
    text-align: left;
    height: 50px;
    margin-left: 10px;
    display: inline-block;
    width: auto;
}
nav .links{
    float: right;
    text-decoration: underline;
    margin: 5px;
}
 .mission {
    background-image:url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
    background-position: center;
    height: 700px;
    max-width: 1200px;
    background-repeat: no-repeat;
    vertical-align: center;
    margin: auto;
    text-align: center;
    display: flex;
}
.centered{
    margin: auto;
    background-color: black;
    width: 100%;
    opacity: 1;
}
.totm{
    width: 1000px;
    margin: auto;
    text-align: center;
}
img{
    min-width: 300px;
    min-height: 200px;
    max-width: 300px;
    min-height: 200px;
    margin: 10px;
    width: 100%;
}
.trip{
    flex:33.33%;
    padding: 5px;
  }
  .dub{
    flex: 50%;
  }
  .row{
    display: flex;
  }
  figcaption{
      font-weight:bold; 
  }
  .locations{
    background-image:url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg);
    background-position: center;
    height: 500px;
    max-width: 1200px;
    background-repeat: no-repeat;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  h2{
      background-color: transparent;
      font-size: 32px;
      font-weight: bolder
  }